---
layout: page
description: "The sea of knowledge"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}


<head>
    <link href="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.js"></script>
    <style>
        .demo{width:360px;margin:60px auto 10px auto}
        .demo p{padding:40px 0}
        
    </style>
</head>
<body>
    <div class="demo">
        <div class="aaa"id="player1">
            <pre class="aplayer-lrc-content">
               
               
            </pre>
        </div>
    </div>
    <script>
        var ap = new APlayer
                ({
                    element: document.getElementById('player1'),
                    narrow: false,
                    autoplay: true,
                    showlrc: true,
                    fixed: true,
                    music:  [{
            name: '加油!',
            artist: '林俊杰',
            url: 'http://music.163.com/song/media/outer/url?id=108406.mp3',
            cover: 'http://p2.music.126.net/oALpJH1SwQE9eLaYQHLQHw==/109951163071285497.jpg',
            lrc: 'https://api.hibai.cn/music/Music/Music?id=108406&type=lrc',
            theme: '#505d6b'
        },{
            name: '不再犹豫',
            artist: 'Beyond',
            url: 'http://music.163.com/song/media/outer/url?id=347597.mp3',
            cover: 'http://p2.music.126.net/jFVtPnc0-cBv4k2_Fuld-A==/54975581392009.jpg',
            lrc: 'https://api.hibai.cn/music/Music/Music?id=347597&type=lrc',
            theme: '#505d6b'
        },{
            name: '光辉岁月',
            artist: 'Beyond',
            url: 'http://music.163.com/song/media/outer/url?id=346576.mp3',
            cover: 'http://p2.music.126.net/ghmbmEQS-IJfZPjdA3KGxg==/82463372084291.jpg',
            lrc: 'https://api.hibai.cn/music/Music/Music?id=346576&type=lrc',
            theme: '#505d6b'
        }]
                });
        ap.init();
        
    </script>
